h1{
    text-align: center;
    color: blueviolet;
}
h3{
    color: palevioletred;
}
body{
    background-color: rgb(226, 210, 169);
    text-align: center;
}
button{
    text-align: center;
    background-color: azure;
    
    
}
title{
    color: palevioletred;
}